<!-- About Us -->
<div id="about">
    <div class="container">
      <h1 class="section-heading">About Us</h1>
      <p>STARK CABS is one of the units of STARK INDUSTRIES owned by <b>Tony Stark</b>. STARK CABS provides cheap car rentals and cabs to Professionals, Foreign Travellers and
        Students in Bengaluru. We have been in the car rental business for over ten(10) years focusing on
        daily, weekly
        and monthly Rentals. The sole purpose of starting 'Stark Cabs' is to provide a safe, sanitized and comfortable transportation for people at cheap and affordable rates.</p>
      <p>Now you can also book Self-Driven Cars to travel within and outside the city.</p>
    </div>
  </div>

  <div class="container">
  <div class="media">
    <div>
    <img src="../assets/rdj.jpeg" class="align-self-start mr-3" alt="...">
  </div>
    <div class="media-body">
      <h2>Tony Stark<h5>(Founder & CEO)</h5></h2>
      <p>An Indian business magnate, genius, billionaire, playboy and philanthropist who has created a revolution in science and technology by inventing fully stabilized 'Miniature Arc reactor', fully functional 'Ironman suit' and many more.</p>
      <p><i>" You can work hard, but if you dont work smart you'll work for the rest of your life. "</i> - <b>Tony Stark</b></p>
    </div>
  </div>
</div>