<!-- Card Section -->

<div id="book" class="container">
    <h1 class="section-heading">Book a Cab</h1>
    <div class="row">
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
          <img src="../assets/car-rental.png" class="card-img-top" alt="...">
        </div>
          <div class="card-body">
            <h5 class="card-title">Rent a Car</h5>
            <p class="card-text">Now you can rent a Car to travel within the city on Daily, Weekly and Monthly basis</p>
          </div>
          <div class="card-footer"><a href="https://www.olacabs.com/rentals" target="_blank" class="btn btn-primary">BOOK NOW</a></div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
          <img src="../assets/taxi.png" class="card-img-top" alt="...">
        </div>
          <div class="card-body">
            <h5 class="card-title">Book a Cab</h5>
            <p class="card-text">Now you can book a cab to travel within the city</p>
          </div>
          <div class="card-footer"><a href="https://www.olacabs.com/" target="_blank" class="btn btn-primary">BOOK NOW</a></div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
          <img src="../assets/car-sharing.png" class="card-img-top" alt="...">
        </div>
          <div class="card-body">
            <h5 class="card-title">Car Pooling</h5>
            <p class="card-text">Now you can share your ride with other fellow passengers at more cheaper rates</p>
          </div>
          <div class="card-footer"><a href="https://www.olacabs.com/share" target="_blank" class="btn btn-primary">BOOK NOW</a></div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
          <img src="../assets/steering-wheel.png" class="card-img-top" alt="...">
        </div>
          <div class="card-body">
            <h5 class="card-title">Self-Driven</h5>
            <p class="card-text">Now you can rent a Self-Driven Car to travel within the city and within the radius of 50 kms around the city</p>
          </div>
          <div class="card-footer"><a href="https://www.olacabs.com/ola-drive" target="_blank" class="btn btn-primary">BOOK NOW</a></div>
        </div>
      </div>
    </div>
  </div>