<!-- Home -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 yanone">Now you can rent a car in Bengaluru</h1>
      <p class="lead arvo" id="detail">Stark travels provides Cheap Long-Term Car Rentals to Professionals, Foreign Travellers
        and
        Students in Bengaluru. We have been in the car rental business for over ten(10) years. Focusing on
        Daily, Weekly
        and Monthly Rentals</p>
      <a class="btn btn-success btn-lg" id="details" (click)="changeDetails()" role="button">VIEW MORE</a>
    </div>
  </div>

