<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand yanone" [routerLink]="['/']" style="font-size: 30px; "><img src="./assets/assets/car.svg"
      width="60" height="50">Stark
    Cabs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
    <ul class="navbar-nav my-2 my-lg-2 yanone">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/book']">Book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact']">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/account']">Sign Up/Sign In</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
<hr>

<div id="ads2" >
<div class="container">
  <h5><b>Now you can buy the replicas of STARK products. Click on the links below.</b></h5> <hr>
  <div class="row">
    <div class="col-sm-4">
      <img src="./assets/hand.gif">
      <h6><a href="https://shop.marvel.com/" class="ad2" target="blank">**Buy this product**</a></h6>
    </div>
    <div class="col-sm-4">
      <img src="./assets/arcreactor.jpg">
      <h6><a href="https://shop.marvel.com/" class="ad2" target="blank">**Buy this product**</a></h6>
    </div>
    <div class="col-sm-4">
      <img src="./assets/iron-man-suit-360000-usd-0.gif">
      <h6><a href="https://shop.marvel.com/" class="ad2" target="blank">**Buy this product**</a></h6>
    </div>
  </div>
</div>
</div>
<hr>

<div class="ad1">
  <marquee scrollamount=10 direction="rtl"> <a href="https://www.goibibo.com/" target="blank">AVAIL FLIGHTS AND HOTELS
      AT CHEAPER RATES!!! CLICK HERE!!!</a></marquee>
</div>
<hr>
<!-- Social Media Links -->
<div class="container">
  <div class="socialmedia">
    <h1>Follow Us on : </h1>
    <a href="https://www.facebook.com/robertdowneyjr" target="_blank"><img src="./assets/fb.png" alt=""></a>
    <a href="https://www.instagram.com/robertdowneyjr/" target="_blank"><img src="./assets/insta.png" alt=""></a>
    <a href="https://twitter.com/RobertDowneyJr" target="_blank"><img src="./assets/twitter.png" alt=""></a>
  </div>
</div>

<!-- Footer -->
<footer>
  <div class="container">
    Web Design : <a href="https://www.linkedin.com/in/manjunath-rudrapaada" target="_blank">RoMan Technologies</a>
  </div>
</footer>